*{
	border-sizing:border box;
font-size: 12px;
}


#headers{
text-align: center;
color: #5F8575;
padding: 15px;
}


a:link{
color: #5F8575;
text-decoration: none;
font-style: italic;


}

a:hover,active{

background-color: lightblue;

}


nav{
	font-size: 15px;
	color: #5F8575;

}


p{
	width: 50%;
padding: 40px;

}

#p1{

float: left;
height: 600px;
text-align: left;

}
#p2{
	float: right;
	height: 600px;
text-align: left;


}

#section2{
list-style: none;
font-size: 20px;
}

@media (max-width:800px){

nav{
	font-size: 12px;
	float: right;

}
.headers{
font-size: 10px;

}

#p1,#p2{
font-size: 15px;
clear: both;
}

#p1{
	float: left;
	width: 100%;
	height:200px; 
	text-align: center;
	font-size: 10px;
}
#p2{
	float: left;
	width: 100%;
	height: 400px;
	text-align: center;
	font-size: 10px;
}
}	

