
*{
font-size: 13px;

}

#headers{
text-align: center;
color: #5F8575;
padding: 15px;
clear: both;

}



a:link{
color: #5F8575;
text-decoration: none;
font-style: italic;


}

a:hover,active{

background-color: lightblue;

}


nav{
	font-size: 15px;
	color: #5F8575;

}


p{
	width: 50%;
padding: 15px;

}

#p1{


float: left;
text-align: left;

}
#p2{
	
	float: right;
text-align: left;


}



#jombotron{

	padding: 15px;
}

.descriptions{
background-color: #2980b9 ;
	float: right;
	text-align: center;
	font-size: 15px;
	height: 500px;
	color: antiquewhite ;


}

footer{

	clear: both;
	 background-color: #2980b9 ;
	height: 200px;
	text-align: center;
	padding: 20px;
	color: antiquewhite;
font-style: italic;

}




/*small devices*/
@media (max-width:991px){

#imagewithdescription{
width: 100%;

}

.descriptions{
width: 100%;
	text-align: center;
	font-size: 12px;
height: 300px;
}

#jombotron{
	
	padding: 15px;

}


nav{
	font-size: 12px;
	float: right;

}

.headers{
font-size: 10px;

}

#p1,#p2{
font-size: 12px;
clear: both;
}

#p1{
	float: left;
	width: 100%;
	height: 180px; 
	text-align: center;
	font-size: 12px;
}
#p2{
	float: left;
	width: 100%;
	height: 300px;
	text-align: center;
	font-size: 12px;
}

}


/*medium devices*/
@media (max-width:1199px)and(min-width:992){

#jombotron{

	padding: 15px;
}

.descriptions{
background-color: #2980b9 ;
	float: right;
	text-align: center;
	font-size: 15px;
	height: 500px;
	color: antiquewhite ;

}

#imagewithdescription{
width: 50%;

}

}


/*large devices*/
	@media(min-width:1200px){

#jombotron{

	padding: 15px;
}

.descriptions{
background-color: #2980b9 ;
	float: right;
	text-align: center;
	font-size: 15px;
	height: 500px;
	color: antiquewhite ;

}

#imagewithdescription{
width: 50%;

}




	}


	